.project {
  padding: 8rem 0;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projectCard {
  border: 1px solid #34364E;
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 2rem;
  border-radius: 11px;
}

.projectSnapshot {
  border: 1px solid #34364E;
  height: 30rem;
  width: calc(100% - 20%);
  border-radius: 11px;

  /* for snapshot */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  transition: all 20s ease;
}

.projectCard:hover .projectSnapshot {
  background-position: bottom center;
}

.projectContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.projectTitle {
  font-size: 3rem;
}

.stack {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.stack span {
  text-transform: uppercase;
  font-size: var(--fs-x-small-text);
  letter-spacing: 1px;
  background-color: var(--color-dark-2);
  border-radius: 1rem;
  padding: .6rem 1.2rem;
}

.actions {
  display: flex;
  gap: 2rem;
}