.project {
  padding: 8rem 0;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projectCard {
  border: 1px solid var(--color-primary-shade);
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 2rem;
  border-radius: 11px;
}

.projectSnapshot {
  height: 30rem;
  width: calc(100% - 20%);
  border-radius: 11px;
  overflow: hidden;

  /* for snapshot */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  transition: all 20s ease;
}

.projectCard:hover .projectSnapshot {
  background-position: bottom center;
}

.projectContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.projectTitle {
  font-size: 3rem;
}

.stack {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.stack span {
  text-transform: uppercase;
  font-size: var(--fs-x-small-text);
  letter-spacing: 1px;
  background-color: var(--color-dark-2);
  border-radius: 1rem;
  padding: .6rem 1.2rem;
}

.actions {
  display: flex;
  gap: 2rem;
}

@media(max-width:50em) {
  .projectCard {
    flex-direction: column;
  }

  .projectSnapshot {
    width: 100%;
  }
}

@media(max-width:31.25em) {
  .projectSnapshot {
    height: 25rem;
  }
}

@media(max-width:23.44em) {
  .actions {
    flex-direction: column;
  }

  .actions>* {
    width: 100%;
  }
}