.hero {
  height: calc(100vh - 4rem);
  display: grid;
  place-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.heading {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.actions {
  display: flex;
  gap: 1.6rem;
}

.tagline {
  text-transform: uppercase;
  font-size: var(--fs-x-small-text);
  letter-spacing: 1px;
}

.heroImg {
  width: 100%;
}

/* 1160px */
@media(max-width:72.5em) {
  .heading {
    font-size: 5rem;
  }
}

/* 990px */
@media(max-width:62em) {
  .hero {
    height: 100%;
    padding-top: 8rem;
  }

  .content {
    align-items: center;
    text-align: center;
  }

  .heading {
    font-size: 4rem;
  }

  .heroImg {
    width: 70%;
  }
}

@media(max-width:31.25em) {
  .actions {
    flex-direction: column;
  }

  .heroImg {
    width: 100%;
  }
}

@media(max-width:23.44em) {
  .actions {
    width: 80%;
  }

  .actions>* {
    width: 100%;
  }
}