.hero {
  height: 100dvh;
  display: grid;
  place-content: center;
  position: relative;
}

.heroLogo {
  position: absolute;
  top: 10%;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.heroLogo div {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-size: cover;
  outline: 4px solid var(--color-primary);
  outline-offset: .2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.heading {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;

}

.actions {
  display: flex;
  gap: 1.6rem;
}

.tagline {
  text-transform: uppercase;
  font-size: var(--fs-x-small-text);
  letter-spacing: 1px;
}

.heroImg {
  width: 100%;
  position: relative;
}