.section {
  height: 100dvh;
  display: grid;
  place-content: center;
}

.textBox {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}