:root {
	--font: "Inter", serif;

	/* FONT_SIZE */
	--fs-x-small-text: 1.2rem;
	--fs-small-text: 1.4rem;
	--fs-base-text: 1.6rem;
	--fs-md-text: 1.8rem;
	--fs-lg-text: 2rem;

	/* LINE-HEIGHT */
	--ln-sm: 1.5 --lh-base:1.6;
	--lh-md: 1.7;
	--lh-lg: 1.8;

	/* COLORS */
	--color-primary: #6c63ff;
	--color-primary-tint: #A7A1FF;
	--color-dark-1: #0b0a19;
	--color-dark-2: #1d203a;
	--color-light: #F0EFFF;

	--gradient: linear-gradient(to right bottom, var(--color-dark-1), var(--color-dark-2));

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
	box-shadow: 0 0 0 0.8rem rgba(108, 99, 255, .2);
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: var(--font);
	font-size: var(--fs-lg-text);
	padding: 1rem;
	background: var(--gradient);
	color: var(--color-light);
	height: 100%;
}

/* GENERAL STYLES */
.container {
	max-width: 130rem;
	margin: 0 auto;
}

.grid {
	display: grid;
}

.grid-2-col {
	grid-template-columns: repeat(2, 1fr);
}

.grid-gap-2 {
	gap: 4rem;
}

/* margins & paddings */
.mg-bt-sm {
	margin-bottom: 2rem;
}

.mg-bt-md {
	margin-bottom: 4rem;
}

.mg-bt-lg {
	margin-bottom: 6rem;
}

.mg-bt-xl {
	margin-bottom: 8rem;
}

/* headings */
.heading-secondary {
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
}

/* 990px */
@media(max-width:62em) {
	body {
		padding: 0 2rem;
	}

	.grid {
		justify-items: center;
	}

	.grid-2-col {
		grid-template-columns: 1fr;
	}

	.grid-gap-2 {
		gap: 8rem;
	}

	.heading-secondary {
		font-size: 2.6rem;
		text-align: center;
	}
}

@media(max-width:31.25em) {
	body {
		font-size: var(--fs-lg-text);
	}
}