.icon {
  margin: 0 auto;
  border: 2px solid #333;
  height: 6.2rem;
  width: 3.6rem;
  border-radius: 1.8rem;
  position: relative;
  cursor: pointer;
  opacity: 0.8;
  margin-top: 4rem;
}

.icon:before {
  content: '';
  background: #333;
  height: .6rem;
  width: .2rem;
  position: absolute;
  top: 1.4rem;
  border-radius: 1px;
  left: calc(50% - 1px);
  animation: scroll 1.15s infinite;
}

@keyframes scroll {
  15% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(2.4rem);
  }
}